@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic');

html body {
    min-width: 320px;
    -webkit-text-size-adjust: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
button {
    background: transparent;
    border: 0;
    margin: 0;
    outline: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

input,
textarea,
select {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: 0;
}

a:hover {
    color: green;
}

.content {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 65rem;
}


.block1 {
    background: url(images/top_bg.jpg) no-repeat top center / cover;
    position: relative;
    overflow: hidden;
    color: white;
    min-height: 100vh;
}

.block1__row {
    overflow: hidden;
    margin: 0 -0.75rem;
}

.block1__row>div {
    padding: 0 0.75rem;
    float: left;
    min-height: 1px;
}

.block1__col1 {
    width: 25%;
}

.block1__col2 {
    width: 50%;
}

.block1__col3 {
    width: 25%;
}

.block1__col3 p {
    padding: 1.1rem 0 0;
}

.block1__col3 span {
    font-size: 0.75rem;
    font-weight: 100;
}

.block1__col3 a {
    font-size: 0.75rem;
    font-weight: 100;
    border-bottom: 1px solid white;
}

.text-right {
    text-align: right;
}

.URL {
    text-align: right;
    margin-top: 1rem;
}

.URL-1 {
    font-weight: 100;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-left: 1rem;
}

.URL {
    margin-top: 0;
    display: block;
    padding: 1.1rem 0 0;
}

.URL li {
    display: inline-block;
}


header {
    padding: 2rem 0 0;
}
.conteiner {
    max-width: 53rem;
    margin: 0 auto;
    padding: 0 0.75rem;
}

.header__top {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 2.5rem;
    left: 0;
    right: 0;
    font-weight: lighter;
    font-size: .85rem;
}

.header__top p {
    margin: 1.01rem -27.5rem 0 0;
    letter-spacing: 0.6px;
}


.logo__conteinter {
    width: 1.2rem;
}

.logo {
    width: 9.4rem;
}

.header__headings h1 {
    font-weight: 100;
    font-size: 4rem;
    margin: 0 0 0.5rem;
    line-height: 1;
}

.header__headings h2 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1;
}

.header__headings {
    padding-top: 10.5rem;
    padding: 7.5rem 0 12.5rem;
}

.text-center {
    text-align: center;
}


header:after {
    content: '';
    border-left: 0px solid transparent;
    border-top: 6.25rem solid transparent;
    border-right: 125rem solid #fff;
    border-bottom: 0px solid #fff;
    position: absolute;
    bottom: 0;
    right: 0;
}


.Intro {
    position: relative;
}

.Intro__welcome {
    background-color: white;
    position: absolute;
    top: -10.2rem;
    left: 32.8rem;
    width: 32.2rem;
    height: 16.8rem;
    padding: 2.0625rem;
    border-width: 1px;
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.7);
    font-size: 0.86rem;
    color: lightgrey;
}

.Intro__welcome__header {
    color: black;
    font-size: 2.45rem;
    letter-spacing: .5px;
    margin-bottom: 1.7rem;
}

.Intro__text {
    padding-right: 3rem;
}

.Intro__text p {
    margin-bottom: 1.25rem;
}

.Intro__header {
    font-size: 3.1rem;
    font-weight: 900;
    color: black;
    padding: 2.55rem 0 0 0;
    margin-bottom: 7.7rem;
}


.Infoblocks {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.Infoblocks__conteiner {
    width: 18.75rem;
    text-align: center;
    letter-spacing: -.2px
}

.Infolbocks__central-block {
    margin: 0 4rem 0 4.4rem;
}

.Infoblocks__image {
    display: block;
    margin: auto;
    margin-bottom: 2.9rem;
    width: 12.5rem;
    height: 12.5rem;
}

.Infoblocks h3 {
    font-size: 2.2rem;
    font-weight: 900;
}

.Infoblocks__text {
    font-size: 0.9rem;
    color: lightgrey;
}


.Mowie-menu {
    margin-left: auto;
    margin-right: auto;
}

.Mowie-menu tr:hover td {
    color: darksalmon;
    cursor: pointer;
}

.Mowie-menu-heading {
    font-size: 3.125rem;
}

.Mowie-menu table {
    border-collapse: collapse;
    color: white;
    font-size: 1.125rem;
    border-radius: 0.75rem;
    border-spacing: 0;
    width: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

#table_head {
    background-color: #90D23D;
    height: 3.75rem;
    font-size: 1.375rem;
    text-align: left;
}

.table-1 {
    background-color: #373737;
    height: 2.9375rem;
}

.table-2 {
    background-color: #4B4D4F;
    height: 2.9375rem;
}

.checkbox {
    padding-left: 0.875rem;
}

input[type='checkbox'] {
    opacity: 0;
    z-index: -1;
    position: absolute;
}

td.checkbox span {
    display: block;
    background: url(images/Moreicon.svg);
    width: 2.0625rem;
    height: 2.0625rem;
}

.first_column {
    width: 12.5em;
}

.second_column {
    text-align: left;
    width: 15.4em;
}

.Mowie-menu-text {
    font-size: 0.875rem;
    margin-top: 1.875rem;
    /*поправить это*/
    color: lightgrey;
}


.gifts {
    position: relative;
    background-image: url(images/b4_bg.jpg);
    background-size: 130rem;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: cover;
    color: white;
    margin-top: 9.375rem;
    /*поправить это*/
    height: 39rem;
}

.gifts__content {
    text-align: right;
    padding-top: 10rem;
    margin-left: 21.3rem;
    width: 43.75rem;
    font-size: 0.85rem;
    font-weight: 100;
}

.gifts__heading {
    font-size: 3.125rem;
    margin-bottom: 1rem;
}

.gifts__text {
    margin-bottom: 1rem;
}

.gifts-conteiner {
    margin-top: 2.5rem;
    /*поправить это*/
    margin-left: 30em;
}

.button {
    color: white;
    background-color: #90D23D;
    border-color: #90D23D;
    border-radius: 0.9375rem;
    border-spacing: 0;
    border-style: solid;
    padding: 1.75rem;
    padding-top: 0.8125rem;
    padding-bottom: 0.9375rem;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    transition: 0.3s;
}

.button:hover {
    background: rgba(153, 255, 0, 0);
    color: #90D23D;
}

#gifts-picture {
    position: absolute;
    width: 20.5em;
    top: -3.7em;
    left: 1.3rem;
    border-radius: 50%;
    border-spacing: 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
}

.gifts:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 125rem solid #fff;
    border-top: 3.125rem solid #fff;
    border-right: 0 solid transparent;
    border-bottom: 6.25rem solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.gifts:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 125rem solid transparent;
    border-top: 0px solid transparent;
    border-right: 0px solid #fff;
    border-bottom: 6.25rem solid #fff;
    position: absolute;
    bottom: 0;
    right: 0;
}


.Films_logos {
    margin: 3.5rem 0 6.25rem 0rem;
}

.Films_logos_heading {
    font-size: 3.095rem;
    margin-bottom: 2.3rem;
}

.Films_logos_text {
    width: 42rem;
    font-size: 0.88rem;
    font-weight: 300;
    margin-bottom: 3.7rem;
}

.Films__content {
    padding: 1.125rem;
}

.Films_logos_conteiner {
    display: flex;
    flex-wrap: wrap;
    width: 65rem;
    margin: 0 -1.125rem;
}

.Films__logos__inner {
    position: relative;
    overflow: hidden;
}

.Films__discription {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -100%;
    height: 100%;
    background: rgba(144, 210, 61, 0.8);
    border-radius: 0.6875rem;
    padding: 1.4375rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: 0.4s;
}

.Films__header {
    font-size: 1.875rem;
    font-weight: 900;
    color: white;
    margin: 0 0 0.625rem;
}

.Films__hr {
    width: 5rem;
    height: 0.5rem;
    border: 0;
    box-shadow: none;
    margin: 0 0 0.875rem;
    background: #fff;
}

.Films__text {
    font-size: 1.125rem;
    color: #fff;
    flex: 1;
}

.Films__content:hover .Films__discription {
    bottom: 0;
}


footer {
    background-color: #90D23D;
    margin-top: -0.25rem;
    /*поправить это*/
    height: 13.5625rem;
}

.footer_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 21.875rem;
    padding-top: 3.75rem;
}

.footer_text {
    color: white;
    font-weight: 100;
    text-align: center;
}

.input-wrap {
    margin: 0 0 2rem;
}

.input-text {
    font-size: 1.188em;
    color: #6c6c6c;
    padding: .7rem .5vw;
    border: 1px solid #bebebe;
    border-radius: 5px;
    width: 100%;
    transition: .2s;
}

.input-text:focus {
    border-color: #90d23d;
}

.modal__form {
    max-width: 100%;
    padding: 2.5rem 1.25vw;
}

.input-text::-webkit-input-placeholder {
    color: #bebebe;
}

.input-text::-moz-placeholder {
    color: #bebebe;
}

.input-text:-moz-placeholder {
    color: #bebebe;
}

.input-text:-ms-input-placeholder {
    color: #bebebe;
}

.input-checkbox {
    display: none;
}

.input-checkbox+label {
    font-size: 1em;
    padding-left: 1.15vw;
    position: relative;
    padding-top: 0.3em;
}

.input-checkbox+label i {
    position: absolute;
    display: none;
    font-size: .75em;
    left: .1vw;
    top: .3rem;
    color: #90d23d;
}

.input-checkbox:checked+label i {
    display: block;
}

.radio-wrap {
    margin: 0 0 1rem;
}

.input-radio {
    display: none;
}

.input-radio+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 1px;
    width: .875em;
    height: .875em;
    border-radius: 100%;
    border: 1px solid #000;
}

.input-radio+label {
    font-size: 1em;
    padding-left: 1.15vw;
    position: relative;
    padding-top: 0.3em;
}

.input-radio+label span {
    position: absolute;
    height: .5em;
    width: .5em;
    border-radius: 100%;
    left: .25em;
    top: .3125em;
    background: #90d23d;
    display: none;
}

.input-radio:checked+label span {
    display: block;
}

.input-checkbox+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: .1rem;
    width: .875em;
    height: .875em;
    border: 1px solid #000;
}

.input-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../images/down-arrow.svg") 96% center / 5% no-repeat #fff;
}

.input-textarea {
    height: 10rem;
    resize: none;
}

.input-plus {
    font-size: 1.875em;
    color: #90d23d;
}

.input-minus {
    font-size: 1.875em;
    color: #f0652a;
}

.input-file-wrap {
    position: relative;
}

.input-file {
    position: absolute;
    opacity: 0;
    width: 1px;
    height: 1px;
    z-index: 1;
    box-shadow: none;
    border: 0;
}

.input-file+label {
    font-size: 1.125em;
    color: #90d23d;
    position: relative;
    border: 1px solid #90d23d;
    padding: 0.7rem .75vw;
    z-index: 2;
    background: #fff;
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 5px;
}

.button1 {
    display: inline-block;
    background: #90d23d;
    color: #ffffff;
    padding: 0.7rem 1.5vw;
    border-radius: 12px;
    font-size: 1.125em;
    transition: .2s;
    border: 2px solid #90d23d;
    cursor: pointer;
}

#modalPresent,
#orderForm,
#choose_city
 {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    right: 0;
    z-index: 1000;
    padding-top: 6rem;
}

#modalPresent .modal,
#orderForm .modal,
#choose_city .modal {
    background: #fff;
    margin: 0 auto;
    width: 30rem;
    border-radius: 10px;
    position: relative;
}

#closeModalPresent,
#closeOrderForm,
#closeCityCoosing {
    position: absolute;
    font-size: 20px;
    right: 1rem;
    top: 0.5rem;
    cursor: pointer;
}

.places {
    display: flex;
    margin: 30px;
}

.placeDiv {
    width: 50px;
    height: 50px;
    font-size: 23px;
    font-weight: bold;
    border: 2px solid #000;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

.placeBrone {
    background: orange;
}

.placeFree {
    background: greenyellow;
}

#choose_city{
    display: none;
}