@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&subset=cyrillic');
html, body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover {
    color: green; 
}


header{
    font-weight: lighter;
    font-size: 1.5vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5vh;
    position: absolute;
    width: 90%;
    margin-left: 3%;
}
header p{
    text-align: right;
    color: white;
    margin-right: 58%;
}
.URL{
    margin-top: 1.5vh;
    text-align: center;
}
.URL-1{
    margin-left: 2%;
}
#logo{
    margin-left: 50%;
    width: 20vh;
}


.heading{
    text-align: center;
    text-shadow: black 0 0 10px;
    background-image: url(images/top_bg.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
.heading h1,h2 {
    margin: 0;
    color: white;
}
.heading h1{
    font-weight: lighter;
    font-size: 8vh;
}
.heading h2{
    font-size: 5vh;
    font-weight: 400;
}
#heading1{
    padding-top: 23vh;
}
.heading:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-top: 13vh solid transparent;
    border-right: 200vh solid #fff;
    border-bottom: 0px solid #fff;
    position: absolute;
    bottom: 0vh;
    right: 0;
    z-index: 99;
}


.block1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.block1-1{
    background-color: white;
    position: absolute;
    top: 87vh;
    left: 50%;
    width: 45vh;
    padding: 30px;
    border-width: 1px;
    box-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.7);
    font-size: 1.5vh;
    color: lightgrey;
}
.block1-1 h2{
    color: black;
    font-size: 4vh;
}
#block1-2{
    font-size: 5vh;
    font-weight: 900;
    color: black;
    padding-top: 9vh;
    margin-left: 39vh;
}


.block2{
    display: grid;
    grid-template-columns: 26% 26% 26%;
    margin-top: 20vh;
    margin-left: 39vh;
}
.block2-1, .block2-2, .block2-3{
    width: 300px;
    text-align: center;
}
.block2 img{
    display: block;
    margin: auto;
}
.block2 h3{
    font-size: 3.5vh;
    font-weight: 900;
}
.block2 p{
    font-size: 1.4vh;
    color: lightgrey;
}
#pict-fix{
    margin-top: 3.1vh;
}


.block3 table{
    border-collapse: collapse;
    color:white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 16px;
    border-radius: 20px;
    border-spacing: 0;
    text-align: center;
    overflow: hidden;
}
.block3 a:hover{
    color:white;
}
#table_head{
    background-color: #A3CC40;
    height: 60px;
}
.table-1{
    background-color: #4B4D4F;
}
.table-2{
    background-color: #373737;
}
.checkbox{
    width: 40px;
}